.nyc_output/
.sonar/
.vscode/
bundle/
coverage/
docs/
test/
*.log
.*
*.config.js
CHANGELOG.md
CONTRIBUTING.md
codecov.yml
gulpfile.js
karma.*
lerna.json
mocha.opts
package-lock.json
repodog.config.json
sonar-project.properties
test-setup.js
tsconfig.*
tslint.*
typedoc.js
webpack.*
yarn.lock